/* You can add global styles to this file, and also import other style files */
/* Message modal styles */
.message-modal-panel .mat-dialog-container {
  padding: 0 !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}
